<%- include('../partials/header') %>

<form action="/todos" method="post">
    <input type="text" name="todo">
    <button type="submit">Save To Do</button>
</form>

<%- include('../partials/footer') %>